<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.venkatesh.featurelogin">

    <application>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/action_sign_in"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="com.venkatesh.login.open"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>